h1 {
  font-size: $fs-1050;
  color: $clr-primary-purple;
  font-weight: $fw-400-Open-Sans;
}

h2 {
  font-size: $fs-850;
  color: $clr-primary-purple;
  font-weight: $fw-400-Public-Sans;
  font-family: $ff-publicSans;
}

h3 {
  font-family: $ff-publicSans;
}

@media screen and (max-width: 1280px) {
  h1 {
    font-size: $fs-950;
    color: $clr-primary-purple;
  }

  h3 {
    font-size: $fs-350;
    color: $clr-primary-purple;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: $fs-600;
    color: $clr-primary-purple;
  }

  h2 {
    font-size: $fs-450;
    color: $clr-primary-purple;
  }

  h3 {
    font-size: $fs-350;
    color: $clr-primary-purple;
  }
}
