.btn {
  @include styleButton;
}

.header__button {
  @include devices(desktop) {
    display: block;
  }
  @include devices(large-tablet) {
    display: none;
  }
  @include devices(tablet) {
    display: none;
  }
  @include devices(tablet) {
    display: none;
  }
}
