.brand {
  //Mobile style
  @include devices(mobile) {
    &__content {
      padding: 40px 0;
      @include flexCenterColumn;
    }

    &__title {
      max-width: 274px;
      margin-bottom: 35px;
    }

    &__heading {
      font-size: $fs-700;
      margin-bottom: 34px;
      line-height: 42px;
    }

    &__line {
      border: 1px solid $clr-arrow;
      margin-bottom: 33px;
      width: 280px;
    }

    &__arrows {
      @include flexCenter;
      gap: 15px;
    }

    &__arrow {
      @include flexCenter;
      @include styleArrow;
    }

    &__icon {
      @include styleArrowIcon;
      color: $clr-primary-purple;
    }

    &__card {
      max-width: 274px;
      @include flexCenterColumn;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      margin-bottom: 42px;
      border-radius: 10px;
      position: relative;
    }

    &__img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &__releaseDate {
      display: flex;
      left: -20px;
      top: 255px;
      position: absolute;
    }

    &__release {
      @include styleReleaseDate;
      background-color: $clr-primary-purple;
      color: $clr-white;
    }

    &__date {
      @include styleReleaseDate;
      margin-left: -5px;
      background-color: $clr-white;
      color: $clr-medium-gray;
      border: 1px solid $clr-primary-purple;
    }

    &__text {
      padding: 25px 25px 25px 30px;
      font-size: $fs-350;
      color: $clr-pink;
    }

    &__underCard {
      @include flexCenter;
      gap: 0;
    }

    &__buttonLine {
      width: 42px;
      height: 1px;
      border: 1px solid $clr-arrow;
    }
  }
  //Tablet style
  @include devices(tablet) {
    &__content {
      padding: 60px 0 30px 0;
      align-items: flex-start;
      flex-direction: row;
    }

    &__title {
      max-width: 232px;
    }

    &__line {
      width: 245px;
    }

    &__cards {
      display: grid;
      grid-template-columns: repeat(5, minmax(min-content, max-content));
      gap: 25px;
      grid-template-rows: repeat(2, minmax(min-content, max-content));
    }

    &__card {
      min-width: 435px;
      @include flexCenterColumn;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      margin-bottom: 42px;
      border-radius: 10px;
      position: relative;
    }

    &__text {
      padding: 35px 50px 37px 45px;
      font-size: $fs-450;
      color: $clr-pink;
    }

    &__underCard {
      @include flexCenter;
      gap: 0;
      grid-column: 2 / 1;
    }
  }
}
