.cta {
  @include devices(mobile) {
    &__content {
      padding: 48px 0 61px 0;
      display: flex;
      justify-content: center;
    }

    &__cards {
    }

    &__card {
      max-width: 280px;
      @include flexFlexStart;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 10px;
    }

    &__img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      margin-bottom: 15px;
    }

    &__description {
      padding: 0 20px;
    }

    &__heading {
      margin-bottom: 12px;
    }

    &__text {
      font-size: $fs-250;
      width: 250px;
      margin-bottom: 15px;
      color: $clr-primary-text;
    }

    &__textBottom {
      @include flexCenter;
      margin-bottom: 25px;
      gap: 10px;
    }

    &__textBottom-line {
      width: 35px;
      border: 1px solid $clr-pink;
    }

    &__textBottom-text {
      font-size: $fs-150;
      color: $clr-primary-purple;
      font-weight: $fw-700-Open-Sans;
    }
  }
}
