// Rectangle style
.rectangle {
  @include devices(mobile) {
    display: none;
  }
}
// Header style
.header {
  // Mobile queries
  @include devices(mobile) {
    position: relative;
    padding: 16px 0;

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__nav {
      display: none;
      position: absolute;
      top: 85px;
      left: 0;
      width: 100%;
      padding: 20px;
      background-color: $clr-white;
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
    }

    &__link {
      font-size: $fs-350;
      color: $clr-primary-text;
    }

    &__number {
      display: none;
    }

    &__line {
      display: none;
    }

    &__icon {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }

    &__icon--close {
      display: none;
    }

    &__icon--open {
      display: block;
    }

    .active {
      display: block;
    }
  }
}
