// Rectangle style
.rectangle {
  @include devices(mobile) {
    display: none;
  }
}
// Header style
.header {
  // Mobile style
  @include devices(mobile) {
    position: relative;
    padding: 16px 0;

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__nav {
      display: none;
      position: fixed;
      top: 85px;
      left: 0;
      width: 100%;
      padding: 20px;
      height: 100%;
      background-color: $clr-white;
      z-index: 9999;
    }

    &__list {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
    }

    &__link {
      font-size: $fs-350;
      color: $clr-primary-text;
    }

    &__number {
      display: none;
    }

    &__line {
      display: none;
    }

    &__icon {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }

    &__icon--close {
      display: none;
    }

    &__icon--open {
      display: block;
    }

    .active {
      display: block;
    }
  }

  //Tablet style
  @include devices(tablet) {
    &__number {
      display: block;
      margin-left: auto;
    }

    &__line {
      display: block;
      margin: 0 15px;
      border: 1px solid $clr-black;
      height: 15px;
    }
  }
}
