// Rectangle style
.rectangle {
  @include devices(mobile) {
    display: none;
  }
  @include devices(large-tablet) {
    display: none;
  }
}
// Header style
.header {
  // Mobile queries
  @include devices(mobile) {
    position: relative;
    padding: 20px 0;

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__nav {
      display: none;
      position: absolute;
      height: 100vh;
      top: 85px;
      left: 0;
      width: 100%;
      padding: 20px;
      background-color: $clr-white;
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      list-style: none;
    }

    &__link {
      text-decoration: none;
    }

    &__number {
      display: none;
    }

    &__line {
      display: none;
    }

    &__icon {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }

    &__icon--close {
      display: none;
    }

    &__icon--open {
      display: block;
    }

    .active {
      display: block;
    }
  }
  // // Tablet queries
  // @include devices(large-tablet) {
  //   padding: 25px 0;
  //   &__content {
  //     justify-content: flex-end;
  //   }

  //   &__logo {
  //     margin-right: auto;
  //   }

  //   &__number {
  //     display: block;
  //   }

  //   &__line {
  //     display: block;
  //   }

  //   &__icon--open {
  //     display: block;
  //   }

  // }
  // // Desktop queries
  // @include devices(desktop) {
  //   &__content {
  //     display: flex;
  //     align-items: center;
  //     justify-content: space-between;
  //   }

  //   // &__nav {
  //   // }

  //   &__list {
  //     display: grid;
  //     grid-template-columns: repeat(7, minmax(min-content, max-content));
  //     gap: clamp(20px, 2vw, 40px);
  //     list-style: none;
  //   }

  //   // &__item {
  //   // }

  //   &__link {
  //     font-size: clamp(16px, 1vw, 18px);
  //     text-decoration: none;
  //     color: $clr-primary-text;
  //   }

  //   &__number {
  //     display: none;
  //   }

  //   &__line {
  //     display: none;
  //     border: 1px solid $clr-black;
  //     height: 16px;
  //     margin: 0 10px;
  //   }

  //   &__icon {
  //     @include styleIcons;
  //   }

  //   &__icon--open {
  //     display: none;
  //   }

  //   &__icon--close {
  //     display: none;
  //   }
  // }
}
