// COLORS
$clr-primary-purple: #4c12a1;
$clr-primary-text: #213038;

$clr-light-blue: #cae7e6;
$clr-light-gray: #f2f3f4;
$clr-medium-gray: #56707a;

$clr-white: #fff;
$clr-black: #000;
$clr-pink: #e5006d;

$clr-arrow: #cdd8df;

//FONTS
$fs-50: 11px;
$fs-100: 14px;
$fs-150: 16px;
$fs-200: 17px;
$fs-250: 18px;
$fs-300: 19px;
$fs-350: 20px;
$fs-400: 22px;
$fs-450: 24px;
$fs-500: 28px;
$fs-550: 30px;
$fs-600: 32px;
$fs-650: 34px;
$fs-700: 36px;
$fs-750: 38px;
$fs-800: 40px;
$fs-850: 42px;
$fs-900: 45px;
$fs-950: 50px;
$fs-1000: 62px;
$fs-1050: 70px;
$fs-1100: 96px;
$fs-1150: 110px;

//FONT-WEIGHT
$fw-400-Open-Sans: 400;
$fw-700-Open-Sans: 700;
$fw-400-Public-Sans: 400;
$fw-900-Public-Sans: 900;

// FONT-FAMILY
$ff-openSans: "Open Sans", sans-serif;
$ff-publicSans: "Public Sans", sans-serif;
